<br><br><br>
<p-menubar [model]="items">
    <ng-template pTemplate="start">
        <h2 class="m-0" style="color: #2C547C;"><i style="padding-right: 15px;"><img src="assets/images/logo.png"
                    style="vertical-align: bottom;" width="40px" height="35px" /></i>BiblioNet</h2>
    </ng-template>
    <input type="text" pInputText placeholder="Search">
    <button pButton pRipple label="Login" icon="pi pi-lock-open" (click)="showToast()"></button>
</p-menubar>
<p-carousel [value]="carousel" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="5000"
    styleClass="custom-carousel" [style]="{'max-width':'100%', 'margin-top':'1em'}">
    <ng-template let-carousel pTemplate="item">
        <div class="carousel-item">
            <div class="carousel-item-content">
                <img src="{{carousel.images}}" class="img-fluid" style="filter: blur(3px);" width="100%" alt="">
                <div>
                    <h5>Best Online Books</h5>
                    <h1>The Best Online Library Platform</h1>
                    <p>BiblioNet provides easy access to a large collection of
                        books and reports</p>
                    <p-button type="button" styleClass="p-button-primary" (click)="goToProducts()">Search</p-button>
                    <p-button type="button" styleClass="p-button-secondary">Add Books</p-button>
                </div>
            </div>
        </div>
    </ng-template>
</p-carousel>

<p-toast position="center" key="c" (onClose)="onReject()">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1">
            <form class="FormLogin">
                <div class="text-center">
                    <h2>Welcome</h2>
                    <span class="p-input-icon-right">
                        <i class="pi pi-envelope"></i>
                        <input type="text" class="p-inputtext-lg" placeholder="Email" pInputText />
                    </span>
                </div><br>
                <div class="text-center">
                    <span class="p-input-icon-right">
                        <i class="pi pi-lock"></i>
                        <input type="password" class="p-inputtext-lg" placeholder="Password" pInputText />
                    </span>
                </div><br>
                <div class="text-center">
                    <button type="button" pButton (click)="onConfirm()" label="LOGIN"
                        style="padding-left: 33%;padding-right: 33%;padding-top: 3%;padding-bottom: 3%;"
                        class="p-button-success"></button>
                </div>
                <div class="text-center">
                    <h4>Already have an account ? <a style="cursor: pointer;" (click)="showToast2()"><strong
                                style="color: rgb(32, 157, 32);">Register</strong></a></h4>
                </div>
            </form>
        </div>
    </ng-template>
</p-toast>

<p-toast position="center" key="v" (onClose)="onReject()">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1">
            <form class="FormLogin">
                <div class="text-center">
                    <h2>Welcome</h2>
                    <span class="p-input-icon-right">
                        <i class="pi pi-user"></i>
                        <input type="text" class="p-inputtext-lg" placeholder="Username" pInputText />
                    </span>
                </div><br>
                <div class="text-center">
                    <span class="p-input-icon-right">
                        <i class="pi pi-envelope"></i>
                        <input type="text" class="p-inputtext-lg" placeholder="Email" pInputText />
                    </span>
                </div><br>
                <div class="text-center">
                    <span class="p-input-icon-right">
                        <i class="pi pi-lock"></i>
                        <input type="password" class="p-inputtext-lg" placeholder="Password" pInputText />
                    </span>
                </div><br>
                <div class="text-center">
                    <span class="p-input-icon-right">
                        <i class="pi pi-verified"></i>
                        <input type="password" class="p-inputtext-lg" placeholder="Confirm Password" pInputText />
                    </span>
                </div><br>
                <div class="text-center">
                    <button type="button" pButton (click)="onConfirm()" label="REGISTER"
                        style="padding-left: 30%;padding-right: 30%;padding-top: 3%;padding-bottom: 3%;"
                        class="p-button-success"></button>
                </div>
                <div class="text-center">
                    <h4>You have an account ? <a style="cursor: pointer;" (click)="showToast()"><strong
                                style="color: rgb(32, 157, 32);">Login</strong></a></h4>
                </div>
            </form>
        </div>
    </ng-template>
</p-toast>
<router-outlet></router-outlet>